{
	"extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
	"plugins": ["@typescript-eslint", "@typescript-eslint/eslint-plugin", "prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"semi": true,
				"trailingComma": "all",
				"singleQuote": false,
				"printWidth": 120,
				"tabWidth": 4,
				"useTabs": true
			}
		],
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic"
			}
		],
		"@typescript-eslint/no-empty-function": "warn",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"no-undef-init": "error",
		"@typescript-eslint/no-for-in-array": "error",
		"prefer-const": "warn"
	},
	"settings": {},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	}
}
