name: CI
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install, Build, Test
        run: |
          npm install
          npm run build
      - name: Publish
        uses: actions/npm@1.0.0
        with:
          args: "publish --access public"
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
